* {	
	color: black;	
	margin: 0;
	padding: 0;
}

.square {
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	overflow: hidden;
	position: relative;
	float: left;
}

.img {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	margin: auto;
	object-fit: cover; /* Do not scale the image */
	object-position: center;
}

h2 {
	text-align: center;
	position: absolute;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .square {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .square {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .square {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .square {
      width: 25%;
      padding-bottom: 25%;
   }
}
